{% extends "layout.html" %}


{% block styles %}
<link href="{{ url_for('public', path='/styles/home/index.css') }}" rel="stylesheet">
{% endblock %}µ



{% block content %}
<div class="title_container">
    <h2 class="title">
        Transcription audio <br> en texte📝
    </h2>
</div>

<div class="description_container">
    <h3>
        ❓Qu'est-ce que <span>Monk</span> ?
    </h3>
    <p>
        Monk, comme vous devriez le deviner, fais référence aux moines dont le métier étaient de copier des
        manuscrits à la main. Mais ici nous faisons appel à l'IA, plus particulièrement un modèle "open source",
        <i>Whisper</i>.
    </p>
    <p>
        Vu que la transcription demande des ressources assez conséquentes en terme de puissance de calcul, une
        seule transcription par session est autorisée. Ceci veut dire une seule transcription à la fois.
    </p>
</div>
{% endblock %}