<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    sse
</body>
<script>
    
    const url = "http://127.0.0.1:8000/stream";

    const eventSource = new EventSource(url);

    eventSource.addEventListener("token", (event) => {
        const msg = JSON.parse(event.data)
        document.body.innerHTML += "<br>" + msg
        //document.body.innerHTML += "<br>" + JSON.parse(event.data.msg);
    });

    eventSource.addEventListener("done", (event) => {
        console.log("Stream finished:", event.data);
        eventSource.close(); // Close the connection when done
    });

    eventSource.onerror = (err) => {
        console.error("EventSource failed:", err);
    };
</script>

</html>