.title_container {
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: center;
}

.title {
    width: 100%;
    padding: 20px 0;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: var(--black);

}



.description_container {
    max-width: 1000px;
    margin: 20px auto;
}

.description_container h3 {
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: 900;
}

.description_container p {
    margin: 20px 0;
    font-size: 20px;
}