.title_container {
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: center;
}

.title {
    width: 100%;
    border-radius: 9999px;
    padding: 20px 0;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: var(--black);
    line-height: 45px;

}



.description_container {
    max-width: 1000px;
    margin: 0 auto;
}